#partners {
  margin-bottom: 150px;
}

.partner {
  display: block;
  margin: 50px auto;
  max-height: 250px;
}

#sponsors {
  margin-bottom: 50px;
  text-align: center;
}

.sponsor {
  display: inline-block;
  margin: 20px;
  max-height: 100px;
  max-width: 350px;
  vertical-align: middle;
}
