#partners,
#sponsors {
    margin-bottom: 50px;
    text-align: center;
}

#sponsors div {
  margin-bottom: 50px;
}

#partners {
    margin-bottom: 150px;
}

#partners h2,
#sponsors h2 {
    text-align: left;
}

#partners a,
#sponsors a {
    border-bottom: none;
}

#partners a img,
#sponsors div a img {
    display: inline-block;
    margin: 25px;
    vertical-align: middle;
}

.bit {
    margin-bottom: -15px;
}

.sixtyfourbit img {
    width: 50%;
    height: 50%;
}

.thirtytwobit img {
    width: 40%;
    height: 40%;
}

.sixteenbit img {
    width: 35%;
    height: 35%;
}

.sixteenheight {
  height: 100px !important;
}

.eightbit img {
    width: 20%;
    height: 20%;
}

.eightheight {
  height: 80px !important;
}

.sixteenheight, .eightheight {
  width: auto !important;
}

#partners a img {
    width: 30%;
    height: 30%;
}

@media screen and (max-width: 736px) {
    #partners a img,
    #sponsors div a img {
        display: block;
        margin: 50px auto;
    }

    #form a {
        margin-bottom: 15px !important;
    }

    .thirtytwobit img {
      width: 60%;
      height: 60%;
    }

    .sixteenbit img, .sixteenheight {
        width: 50% !important;
        height: 50% !important;
    }

    .eightbit img, .eightheight {
        width: 40% !important;
        height: 40% !important;
    }

    #partners a img {
        width: 50%;
        height: 50%;
    }

    .partnerheight {
      width: 60% !important;
      height: 60% !important;
    }
}
