#sponsors, #partners {
  margin-bottom: 50px;
  text-align: center;
}

#partners {
  margin-bottom: 150px;
}

#sponsors h2, #partners h2 {
  text-align: left;
}

#sponsors a, #partners a {
  border-bottom: none;
}

#sponsors div a img, #partners a img {
  display: inline-block;
  margin: 25px;
  max-height: 200px;
  max-width: 300px;
  vertical-align: middle;
}

.bit {
  margin-bottom: -15px;
}

.sixtyfourbit img {
  max-height: 150px;
}

.thirtytwobit img {
  max-height: 125px;
}

.sixteenbit img {
  max-height: 75px;
}

.eightbit img {
  max-height: 50px;
}

.kstate {
  max-width: 500px !important;
}

@media screen and (max-width: 736px) {
#sponsors div a img, #partners a img {
  display: block;
  margin: 50px auto;
  max-width: 100%;
}

#form a {
  margin-bottom: 15px !important;
}
}
